body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cols {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}
.bookwrap {
  width: 90%;
}

.col {
    width: 100%;
}

.col-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cell {
  border: 1px solid gray;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}